/* 
    Created on : 16 nov. 2021, 16:44:10
    Author     : Sasha
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
    white, mistyrose, firebrick, lavender,  midnightblue y black
*/

*{
    margin: 0;
    
}

body{
    font-family: 'Roboto', 'Tahoma Regular', sans-serif;
}

header{
    padding: 20px 0;
    text-align: center;
    background-color: lavender;
    
}


a{
    text-decoration: none;
    color: midnightblue;
}
a:active{
    color: firebrick;
}